<a class="btn btn-outline-primary my-2" href="#!products-list">
  <i class="fas fa-arrow-left me-2"></i>Quay lại danh sách
</a>

<div class="">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">Thêm sản phẩm mới</h2>

          <div class="alert alert-danger" ng-if="err">
            <strong>Errors!</strong> {{err}}.
          </div>

        </div>
        <div class="card-body">
          <form>

            <div class="mb-3">
              <label for="productName" class="form-label">Tên sản phẩm:</label>
              <input type="text" class="form-control" id="productName" placeholder="Nhập tên sản phẩm" 
                ng-model="prdList.ten">
            </div>

            <div class="mb-3">
              <label for="productCategory" class="form-label">Danh mục:</label>
              <select class="form-select" id="productCategory"  ng-model="prdList.idDanhMuc">
                <option value="">-Lựa chọn-</option>
                <option ng-repeat="item in catList track by $index" value="{{item.id}}">{{item.ten}}</option>

              </select>
            </div>

            <div class="mb-3">
              <label for="productDescription" class="form-label">Mô tả:</label>
              <textarea class="form-control" id="productDescription" rows="3" placeholder="Nhập mô tả sản phẩm"
                ng-model="prdList.moTa">
              </textarea>
            </div>

            <div class="mb-3">
              <label for="productPrice" class="form-label">Giá:</label>
              <div class="input-group">
                <input type="number" class="form-control" id="productPrice" placeholder="Nhập giá sản phẩm"
                  ng-model="prdList.giaBan" >
                <span class="input-group-text">₫</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="productQuantity" class="form-label">Số lượng:</label>
              <input type="number" class="form-control" id="productQuantity" placeholder="Nhập số lượng sản phẩm"
                ng-model="prdList.soLuong" >
            </div>

            <div class="mb-3">
              <label for="productImage" class="form-label">Hình ảnh:</label>
              <input type="text" class="form-control" id="productImage" placeholder="Nhập đường dẫn hình ảnh" ng-model="prdList.anh">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg" ng-click="onClickAdd()">Thêm sản phẩm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <form action="">
            <label for="">Name</label>
            <input type="text" name="" id="" class="form-control">

            <button type="submit" class="btn btn-primary mt-2">Thêm</button>
        </form> -->
</div>